.gridFrame {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border: solid #181818 3px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.controls{
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 210px;

}

.eraser{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: contain;
  height: 100%;
  width: 100%;

}

.full{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: white;
  margin: 0;
}

.rotate{

  transform: rotate(-90deg);
  transform-origin: 0 0;
  position: fixed;
  left: 60px;
  top: 500px;
}